{% extends "base.html" %}

{% block title %}
home
{% endblock %}

{% block content %}
    <h1>QuantumTech</h1>
<p>QuantumTech არის ახალი ონლაინ მაღაზია, სადაც შეგიძლიათ შეიძინოთ მობილური ტელეფონები და მათი აქსესუარები. ჩვენ გთავაზობთ წამყვანი ბრენდებისგან იმპორტირებულ უმაღლესი ხარისხის პროდუქციას. თქვენ შეძლებთ განაახლოთ და შეიძინოთ უახლესი მოდელის მობილური ტელეფონები და სხვადსახვა აქსესუარები. QuantumTech გთავაზობთ კომფორტს და ხარისხს.</p>
<hr>

<b>მადლობა TbcTechschool ამ გამოცდილებისთვის.</b>
<br>

<img src="/static/tbc.jpeg" width="5%">
<a href="https://www.tbceducation.ge/">tbceducation.ge</a>

{% endblock %}



