{% extends "base.html" %}

{% block title %}
home
{% endblock %}

{% block content %}
    <h1>QuantumTech</h1>
<p>QuantumTech არის ახალი მაღაზია სმარტფონებისთვის და ტექნიკური საჭიროებისთვის. ჩვენი შერჩეული არჩევანი შეიცავს უმაღლესი ხარისხის პროდუქციას წამყვანი ბრენდებისგან. თქვენ შეძლებთ განაახლოთ თქვენი გაჯეტები უახლესი ვერსიით, QuantumTech გთავაზობთ კომფორტს და ხარისხს.</p>
<hr>

<b>მადლობა TbcTechschool ამ გამოცდილებისთვის.</b>
<br>

<img src="/static/tbc.jpeg" width="5%">
<a href="https://www.tbceducation.ge/">tbceducation.ge</a>

{% endblock %}



